.transactionHistory {
  border-collapse: collapse;
  width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  background-color: #ffffff;
}

td,
th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td {
  text-transform: capitalize;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #7fb1e2;
  color: white;
}
